
body {
  background-color: ;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

div{
  background-color: pink;
  margin: 0;
  padding: 0 0 0 50;
}

h1 {
  margin: 0 25;
  padding: 0;
  text-align: center;
  width: 350px;
}

p{
  color: black;
  font-size: 18px;
  line-height: 22px;
  width: 400px;
  margin left: 25px;
}

ul{
  text-align: right;
}

li{
  list-style: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.img{
  background-repeat:no-repeat;
  background-position: 425px;
}

#menu{
height: 40px;
background-color: #FFF;
background-image: url(img/feedly-logo-small-black.png);
background-repeat:no-repeat;
background-position: 5px 5px;
}

#coneix{
  height: 550px;
  background-color: #6C3;
  background-image: url(img/img-hero-full-list.png);
}

#tot{
  height: 641px;
  background-color:#fff;
  background-image: url(img/allinone.jpg);
}

#util{
  height: 500px;
  background-color:#333333;
  background-image: url(img/curator-short.png);
}

#rapid{
  height: 550px;
  background-color:#fff;
  background-image: url(img/img-hero-full-list.png);
}

#facil{
  height: 550px;
  background-color:#6C3;
  background-image: url(img/mobile-share.png);
}

#arreu {
  height: 643px;
  background-color:#fff;
  background-image: url(img/anywhere.png);
}

#footer {
  height: 200px;
  background-color:#333333;
  text-align: center;
}
img{
  margin: 75px 25px;
}
